<app-header></app-header>

<div class="container mt-4 mb-5">
  <h4 class="text-center">Sell or Rent your Property</h4>

  <form (ngSubmit)="onSubmit(propertyForm)" #propertyForm="ngForm">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="property.title" name="title" required />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" [(ngModel)]="property.description" name="description" required></textarea>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" id="price" class="form-control" [(ngModel)]="property.price" name="price" required />
    </div>

    <div class="mb-3">
      <label for="latitude" class="form-label">Latitude</label>
      <input type="number" id="latitude" class="form-control" [(ngModel)]="property.latitude" name="latitude" required />
    </div>

    <div class="mb-3">
      <label for="longitude" class="form-label">Longitude</label>
      <input type="number" id="longitude" class="form-control" [(ngModel)]="property.longitude" name="longitude" required />
    </div>
    
    <div class="mb-3">
      <label for="ownerPhone" class="form-label">ownerPhone</label>
      <input type="text" id="ownerPhone" class="form-control" [(ngModel)]="property.ownerPhone" name="ownerPhone" required />
    </div>

    <div class="mb-3">
      <label for="propertyType" class="form-label">Property Type</label>
      <select id="propertyType" class="form-select" [(ngModel)]="property.propertyType" name="propertyType" required>
        <option value="" disabled selected>--Choose property type--</option>
        <option value="Rent">Rent</option>
        <option value="Sell">Sell</option>
        <option value="Pg">Pg</option>
        <option value="Buy">Buy</option>
        <option value="Lease">Lease</option>
        <option value="Office Space">Office Space</option>
        <option value="Warehouse">Warehouse</option>
        <option value="Retail Space">Retail Space</option>
        <option value="Land">Land</option>
        <option value="Garage">Garage</option>
        <option value="Co-working Space">Co-working Space</option>
        <option value="Holiday Home">Holiday Home</option>
        <option value="Industrial">Industrial</option>
        <option value="Studio">Studio</option>
        <option value="Penthouse">Penthouse</option>
        <option value="Townhouse">Townhouse</option>
        <option value="Villa">Villa</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="images" class="form-label">Upload Images</label>
      <input type="file" id="images" class="form-control" (change)="onFileSelected($event)" multiple />
      <div *ngIf="selectedFiles.length > 0" class="mt-2">
        <h6>Selected Images:</h6>
        <ul>
          <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
        </ul>
      </div>
      <div *ngFor="let image of existingimages">
        <img [src]="image" alt="Property Image" width="200" height="150" class="mb-2 mt-2">
      </div>
    </div>

    <div class="mb-3">
      <div class="mb-3">
        <label for="bedrooms" class="form-label">bedrooms</label>
        <input type="number" id="bedrooms" class="form-control" [(ngModel)]="property.bedrooms" name="bedrooms" required />
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="hall" class="form-label">hall</label>
        <input type="number" id="hall" class="form-control" [(ngModel)]="property.hall" name="hall" required />
      </div>
    </div>

    <div class="mb-3">
      <div class="mb-3">
        <label for="kitchens" class="form-label">kitchens</label>
        <input type="number" id="kitchens" class="form-control" [(ngModel)]="property.kitchens" name="kitchens" required />
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="bathrooms" class="form-label">bathrooms</label>
        <input type="number" id="bathrooms" class="form-control" [(ngModel)]="property.bathrooms" name="bathrooms" required />
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="area" class="form-label">area</label>
        <input type="number" id="area" class="form-control" [(ngModel)]="property.area" name="area" required />
      </div>
    </div>

    <div class="mb-3">
      <div class="mb-3">
        <label for="country" class="form-label">country</label>
      <select id="country" class="form-select" [(ngModel)]="property.country" name="country" required>
        <option value="" disabled selected>--Choose Country--</option>
        <option value="India">India</option>
      </select>
        <!-- <input type="text" id="area" class="form-control" [(ngModel)]="property.country" name="country" required /> -->
      </div>
    </div>

    
    <div class="mb-3">
      <div class="mb-3">
        <label for="state" class="form-label">state</label>
        <!-- <input type="text" id="state" class="form-control" [(ngModel)]="property.state" name="state" required /> -->
        <select id="state" class="form-select" [(ngModel)]="property.state" name="state" required>
          <option value="" disabled selected>--Choose state--</option>
          <option value="Gujarat">Gujarat</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <div class="mb-3">
        <label for="city" class="form-label">city</label>
        <!-- <input type="text" id="city" class="form-control" [(ngModel)]="property.city" name="city" required /> -->
        <select id="city" class="form-select" [(ngModel)]="property.city" name="city" required>
          <option value="" disabled selected>--Choose city--</option>
          <option value="Himatnagar">Himatnagar</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <div class="mb-3">
        <label for="zip" class="form-label">zip</label>
        <input type="text" id="zip" class="form-control" [(ngModel)]="property.zip" name="zip" required />
      </div>
    </div>


    <button type="submit" class="btn btn-danger w-100 mt-2">
      {{iseditmode?'update':'submit'}}
    </button>
  </form>
</div>
