<header class="bg-danger">
    <div class="mybricks">
        <h5 class="text-white">
            <a href="/home" class="text-white">
                MyBricks
            </a>
        </h5>
    </div>
    <ul class="navlinks mt-3">
            <!-- <button  class="btn btn-light mt-2">
                <li class="text-danger">
                    <a href="/signup">Login/Signup</a>
                </li>
            </button> -->
         
            <!-- <li>
                <a href="/allproperties" class="text-white">All  Properties</a>
            </li> -->
            <!-- <li>
                <a href="/postproperty" class="text-white">Post Property</a>
            </li> -->
           

                @if (islogin) {
                    <li>
                        <a href="/home" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="/myproperties" class="text-white">myproperties</a>
                    </li>
                    <li>
                        <a href="/postproperty" class="text-white">postproperty</a>
                    </li>
                    <li>
                        <a href="/plans" class="text-white">plans</a>
                    </li>
                    <li>
                        <span (click)="logout()" class="text-white" style="cursor: pointer;">
                            Logout
                        </span>
                    </li>
                }
                @if (!islogin) {
                    <li>
                        <a href="/plans" class="text-white">plans</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Signup</a>
                    </li>
                }
            
        <!-- <li class="text-danger">About</li> -->
    </ul>
</header>