<div class="card h-100">
  <!-- <a [routerLink]="['/property', property._id]"> -->
  <div id="propertyCarousel{{property._id}}" class="carousel slide">
    <div class="carousel-inner">
      <div *ngFor="let image of property.images; let i = index" class="carousel-item" [class.active]="i === 0">
        <img 
        [src]="image"
        [attr.srcset]="image + ' 1x, ' + image + '-2x 2x'"
        [attr.sizes]="'(max-width: 600px) 100vw, 50vw'"
        class="d-block w-100 carousel-image"
        alt="{{ property.title }}"
        loading="lazy"
      >  
      </div>
    </div>
    <a class="carousel-control-prev" href="javascript:void(0)" (click)="prevSlide(property._id)" role="button">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="javascript:void(0)" (click)="nextSlide(property._id)" role="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title">{{ property.propertyType }}</h5>
      <p class="card-text">{{ property.description }}</p>
      <!-- <p class="card-text"><strong>Price:</strong> {{ property.price | currency }}</p> -->
      <p class="card-text"><strong>Type:</strong> {{ property.propertyType }}</p>
      <!-- <p class="card-text"><strong>Location:</strong> {{ property.location.coordinates[1] }}, {{ property.location.coordinates[0] }}</p> -->
      <p class="card-text"><small class="text-muted">Posted on {{ property.createdAt | date:'mediumDate' }}</small></p>
    </div>
    <div>
      <button class="btn btn-danger w-100 mt-1" [routerLink]="['/property', property._id]">View Detail</button>
    </div>
  </div>
  <!-- </a> -->
</div>
